<h1>Listing winnings</h1>

<table id="winnings-table">
  <tr>
    <th>Date start</th>
    <th>Date end</th>
    <th>X</th>
    <th>Measure</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Winnings</a>